.table-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.table-wrapper {
  flex: 1;
  min-height: 0;
  overflow: auto;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  position: sticky;
  top: 0;
  background: #f0f3f7;
  z-index: 1;

  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #697180;

  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.table td {
  height: 52px;
  padding: 10px 8px;
  font-size: 14px;
  line-height: 20px;
  color: #1f2939;
  border-bottom: 1px solid #e5e7eb;
}

.table tbody tr:hover {
  background: #f7f8f9;
  cursor: pointer;
}

.table .cell-gray {
  color: #5e6674;
}

.type-cell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.description-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
}

.delete-btn {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #fee3e3;
  border: none;
  border-radius: 8px;

  cursor: pointer;

  opacity: 0;
  transition: 0.2s;
}

.table tbody tr:hover .delete-btn {
  opacity: 1;
}

.delete-btn:hover {
  background: #fed7d7;
}

.table-footer {
  padding-top: 12px;
}

.pagination {
  width: 272px;
  height: 32px;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-left: auto;
}

.page-btn {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 12px;
  background: transparent;
  color: #1f2939;
  cursor: pointer;
}

.page-btn.is-active {
  background: #ced5de;
}

.page-btn:disabled {
  opacity: 0.5;
  cursor: default;
}
